<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pustakam</title>

    <script src="https://kit.fontawesome.com/859e7ab76e.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    

    <link rel='stylesheet' href='/css/books.css'>
</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">

        <!-- Navbar brand -->
        <!-- <a class="navbar-brand" href="/home"><i class="fas fa-home"></i></a> -->
        <a class="navbar-brand" href="/home">Pustakam.Com</a>
      
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
      
          <!-- Links -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/authors">Authors
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/books/addbook">Add Book</a>
            </li>
            <li class="nav-item active">
                  <a class="nav-link" href="/authors/addauthor">Add Author</a>
            </li>

    
      
          </ul>
          <!-- Links -->
      
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->
      
    </nav>
    <!--Navbar end-->
    
    <h1 class="display-2 bg-img text-white bg-overlay text-center">Book</h1>





    <section>
            <div class="container py-3">
              <div class="card">
                <div class="row ">
                  <div class="col-md-4">
                      <img class="rounded-circle"  src="/images/<%=book.image%>" class="w-100">
                    </div>
                    <div class="col-md-8 px-3">
                      <div class="card-block px-3">
                        <h4 class="card-title"><%=book.title%></h4>
                        Author : <%=book.author%>
                        <hr>
                        <p class="card-text"><%=book.about%></p>

                        <form action="/books/edit" method="POST">
                        <input type="hidden" name="id" value="<%=book._id%>">
                        <button id="editbtn" type="submit" class = "btn btn-success btn-sm" style="float: right;">Edit Book</button>
                        </form>

                        <form action="/books/delete" method="POST">
                        <input type="hidden" name="id" value="<%=book._id%>">
                        <button id="dltbtn" type="submit" class = "btn btn-danger btn-sm" style="float: right; margin-right: 25px">Delete Book</button>
                        </form>

                        
                      </div>
                    </div>
          
                  </div>
                </div>
              </div>
            </div>
    </section>



<br>


    <!-- Footer -->
    <footer class="page-footer font-small blue ">

            <!-- Copyright -->
            <div class="footer-copyright text-center text-white py-3">© 2019 Copyright:
            <a href="/home"> Pustakam.com</a>
            </div>
            <!-- Copyright -->
        
    </footer>
    <!-- Footer end-->
    





    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
              
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  


</body>
</html>